.fls__media-container {
	padding: 10px;
	border: 1px solid #e6e6e6;
	height: 330px;
	text-align: center;
	cursor: pointer;
}

.fls__download {
	background-image: url('../../img/sample-brochure.png');
	background-size: cover;
	height: 100%;
}
