.fls__page-hero-copy-container {
	position: relative;
	z-index: 1;
}

.fls__page-hero-title {
	color: white;
	font-size: 3rem;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;

	@media only screen and (max-device-width: 768px) {
		font-size: 2rem;
	}
}

.fls__page-hero-button {
	display: block;
	width: 100%;
	text-align: center;
	background: transparent;
	border-radius: 0.25rem;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	padding: 0.7rem 0 0.45rem;
	margin: 1rem 0;
	line-height: 1.5rem;
	border: rgba(255, 255, 255, 0.6) solid 1px;
	/* TODO: Browser compatability for transitions */
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:hover {
		color: #000;
		background-color: #fec910;
		border-color: #fec910;
	}
}

.hero-body--page {
	padding-top: 5rem;
	padding-bottom: 5rem !important;
}
