// TODO: Should go in a 'variables' file
$fls-red: #e63946;
$fls-light-blue: #a8dadc;
$fls-dark-blue: #457b9d;
$fls-grey: #f1faee;

.hero--fls {
	position: relative;
}

.hero-body--home {
	padding-bottom: 5rem !important;
}

.hero-body--page {
	padding-top: 5rem;
	padding-bottom: 5rem !important;
}

.hero__copy-container {
	position: relative;
	top: 40vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 775px;
	height: 245px;
	padding: 25px;
	z-index: 5;

	@media only screen and (max-device-width: 768px) {
		max-width: 460px;
	}
}

.hero__copy-title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 0 !important;
	color: white;

	@media only screen and (max-device-width: 768px) {
		// font-size: 24px;
		// margin-bottom: 0 !important;
		display: none;
	}
}

.hero__copy {
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 400;
	color: white;

	@media only screen and (max-device-width: 768px) {
		font-size: 30px;
	}
}

/* Style to help avoid collision with the :after bg */
/* TODO: This should be moved to a generic carousel component */
.hero-body__carousel-item {
	position: relative;
	height: 100vh;
	width: 100%;
	background-size: cover;
	z-index: 0;

	&:after {
		content: '';
		display: block;
		height: 100vh;
		width: 100%;
		background: linear-gradient(45deg, black 65%, #a8dadc 100%);
		z-index: 0;
		position: absolute;
		top: 0;
		opacity: 0.3;
		left: 0;
	}
}

.fls-hero__carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.6;
}
