// TODO: Should go in a 'variables' file
$fls-red: #e63946;
$fls-light-blue: #a8dadc;
$fls-dark-blue: #457b9d;
$fls-grey: #f1faee;

.hero--fls {
	background: linear-gradient(45deg, black 65%, $fls-light-blue 100%);
}

.hero-body--home {
	z-index: 1;
	padding-bottom: 5rem !important;
}

.hero-body--page {
	padding-top: 5rem;
	padding-bottom: 5rem !important;
}

.hero__copy-container {
	position: relative;
	top: 44vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	align-items: center;
	max-width: 775px;
	height: 245px;
	padding: 25px;

	@media only screen and (max-device-width: 768px) {
		max-width: 460px;
	}
}

.hero__copy-title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 0 !important;
	color: white;

	@media only screen and (max-device-width: 768px) {
		font-size: 15px;
		margin-bottom: 0 !important;
	}
}

.hero__copy {
	font-size: 42px;
	text-transform: uppercase;
	font-weight: 400;
	color: white;

	@media only screen and (max-device-width: 768px) {
		font-size: 20px;
	}
}

/* Style to help avoid collision with the :after bg */
/* TODO: This should be moved to a generic carousel component */
.hero-body__carousel-item {
	position: relative;
	min-height: 100vh !important;
}

.fls-hero__carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	opacity: 0.6;
}
