/* Global */

// TODO: This should go in a vars file
$fls-red: #e63946;
$fls-grey: #f1faee;
$fls-light-blue: #a8dadc;
$fls-dark-blue: #457b9d;

body {
	font-family: 'Montserrat', sans-serif !important;
	overflow: hidden; /* This prevents weird issues that might arise with the react step wizard */
}

a {
	color: $fls-light-blue !important;
	transition: all 0.3s;

	&:hover {
		color: white !important;
	}
}

.container {
	max-width: 1170px !important;
}

.column--no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.title--fls {
	font-size: 2.425rem !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;

	@media only screen and (max-device-width: 768px) {
		font-size: 2rem !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
	}
}

.title--underline {
	&:after {
		display: block;
		height: 2px;
		content: '';
		width: 42px;
		margin: 30px auto 0;
		border-top: 1px solid #fff;
	}
}

.fls__transparent {
	opacity: 0;
}

.fls__opaque {
	opacity: 1;
}

.fls__hide {
	display: none;
}

.fls__show {
	display: block;
}

.subtitle--fls {
	font-size: 1.125rem !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
}

.section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}

.fls__app-program-detail-item,
.fls__app-program-total-container {
	display: flex !important;
	justify-content: space-between;
}

.fls__app-program-detail-item {
	font-size: 0.8rem;
}

.fls__app-program-detail-item {
	margin-bottom: 6px;
}

/* Generic FLS Styles */

.fls-input__radio {
	margin-right: 10px;
}

.fls__list-item {
	position: relative;
	list-style: none;
	padding-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.fls__list-item {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 4.5px;
		border-radius: 100%;
		background-color: $fls-grey;
		height: 10px;
		width: 10px;
	}
}

.fls__list-item--small {
	font-size: 14px;
}

.footer {
	position: relative !important;
	color: $fls-grey !important;
	background-color: $fls-dark-blue !important;
	padding-bottom: 3rem !important;
}

/* Highlighted section */
// TODO: This doesn't feel like it fits the format of these class names
// TODO: This also needs a better home, I don't believe it's a global class
.highlighted-section {
	color: white;
	background: linear-gradient(
		to bottom,
		rgba(3, 95, 158, 1) 0%,
		rgba(0, 51, 102, 1) 100%
	);
}

.highlighted-section__copy {
	text-align: center;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
	font-weight: 300;
}

.highlighted-section__subtitle {
	color: white;
}

.section__title-container {
	text-align: center;
	text-transform: uppercase;
}

.section--alternate,
.column--alternate {
	background-color: #f5f5f5;
}

.label--required {
	&:after {
		content: '*';
		margin-left: 5px;
		color: #bb2125;
		font-weight: 500;
	}
}

.fls__radio-label {
	margin: 0 6px;
}

// .fls__blue-gradient-bg {
// 	background: linear-gradient(
// 		to bottom,
// 		rgba(3, 95, 158, 1) 0%,
// 		rgba(0, 51, 102, 1) 100%
// 	);
// }

// .icon-envelop--contact-us,
// .icon-location--contact-us {
// 	font-size: 32px;
// }

// .icon-phone--contact-us {
// 	font-size: 32px;
// }

// .fls__iframe-wrapper {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	height: 0;
// }

// .fls__iframe-wrapper iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

// .fls__iframe-wrapper--contact-us {
// 	padding-bottom: 86.25%;
// }

.application__header-container {
	display: flex;
	justify-content: space-between;
}

.application__total-price {
	font-weight: 500;
	font-size: 20px;
}

.application__price-summary {
	padding: 14px;
	background-color: #f5f5f5;
}

.application__price-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.application__price-container--indented {
	margin-left: 24px;
}

.application__price-amount-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.application__price-amount-subtitle {
	font-size: 12px;
}

.fls__link {
	line-height: 1.25 !important;
	transition: color 0.3s !important;
	color: $fls-grey !important;

	&:hover {
		color: $fls-red !important;
	}
}

.fls__link--alt {
	color: $fls-light-blue !important;

	&:hover {
		color: white !important;
	}
}

.fls__link--dark {
	color: #2c2e30 !important;
}

.fls--grey {
	color: $fls-grey;
}

.fls__alternating-item {
	display: flex;
	justify-content: space-between;
	height: 45px;
	padding: 12px;
	font-size: 0.875rem;
	color: #656565;

	&:nth-child(odd) {
		background-color: #fff;
	}

	&:nth-child(even) {
		background-color: #f5f5f5;
	}
}

// /* TODO: Combine this with the button class for the hero section */
.fls__button {
	display: block !important;
	width: 100% !important;
	cursor: pointer !important;
	background-color: #000 !important;
	text-align: center !important;
	color: white !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	height: 50px !important;
	line-height: 40px !important;
	border-radius: 0 !important;
	border: 1px solid transparent !important;
	padding: 0.375rem 0.75rem !important;
	font-weight: 500 !important;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;

	&:hover {
		background-color: $fls-dark-blue !important;
		border-color: $fls-dark-blue !important;
	}
}

.fls__button--yellow {
	background-color: #fec910 !important;
	border-color: #fec910 !important;
	color: black !important;

	&:hover {
		background-color: #000 !important;
		color: white !important;
	}
}

.fls__button--red {
	color: #fff !important;
	background-color: $fls-red !important;
	border-color: $fls-red !important;
	height: 50px !important;
	line-height: 40px !important;
	border-radius: 0 !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
}

.fls__button--small {
	max-height: 28px !important;
	line-height: 0 !important;
	font-size: 12px !important;
}

// .fls__button--blue {
// 	color: #fff;
// 	background-color: #012846;
// 	border-color: #012846;
// }

// .fls__button--login {
// 	background-color: #0069d9;
// 	border-color: #0069d9;
// }

.fls__button--card {
	max-width: 60%;
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease 0s !important;
}

.fls__button--locations-card {
	max-width: 40%;
}

// TODO: Figure out placeholder font color issues
.fls__base-input,
.fls__control {
	line-height: 1.5 !important;
	color: #495057 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 1px solid #ced4da !important;
	border-radius: 0 !important;
	font-size: 0.875rem !important;
	height: 50px !important;
	padding: 0.75rem 1.25rem !important;
	border-color: rgba(84, 82, 82, 0.34) !important;
	transition: border-color 0.3s, box-shadow 0.3s !important;
}

.fls__base-input:focus {
	border-color: #bb2125 !important;
	box-shadow: 0 0 0 0.2rem rgba(187, 33, 37, 0.35) !important;
}

.fls__base-input--highlighted-section {
	font-size: 0.875rem;
	border-color: rgba(255, 255, 255, 0.75);
	background-color: rgba(255, 255, 255, 0.4);
}

.fls__base-input--highlighted-section::placeholder {
	color: white;
}

.fls__payment-container {
	border: 1px solid #eee;
	padding: 13px;
	margin-bottom: 15px;
}

.fls__base-input--payment {
	border: 0 !important;
}

.fls__payment-options-img {
	max-width: 125px;
}

.fls__payment-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fls__select-container,
.fls__control {
	height: 50px;
}

.fls__control {
	flex-wrap: nowrap !important;
}

.fls__value-container {
	padding: 0 !important;
}

.fls__date-wrapper {
	width: 100%;
}

// TODO: What the diddly fuck is going on with the placeholder styles in the Select component?
.fls__placeholder {
	color: #495057 !important;
	font-size: 0.875rem !important;
	font-family: 'Montserrat', sans-serif !important;
}

// .fls__form-copy {
// 	font-size: 14px;
// 	color: rgba(0, 0, 0, 0.68);
// }

// .fls__checkbox-container {
// 	display: flex;
// 	align-items: center;
// }

// .fls__checkbox-container input[type='checkbox'] {
// 	margin-right: 6px;
// }

// /* TODO: Might be too niche a utility class */
// .fls__forgot-password {
// 	display: flex;
// 	align-items: center;
// 	justify-content: flex-end;
// }

// @media only screen and (max-device-width: 768px) {
// 	.fls__forgot-password {
// 		justify-content: flex-start;
// 	}
// }

.fls__pill {
	display: inline-block;
	padding: 5px 15px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 3px;
	color: #fff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease 0s;
	margin-bottom: 20px;
}

.fls__pill--in-person {
	background-color: #bb2125;
}

.fls__pill--online {
	background-color: #0069d9;
}

.fls__post-copy {
	font-size: 15px;
	margin-bottom: 1rem;
}

.fls__post-container {
	padding-right: 50px;
}

.fls__post-container--left {
	padding-left: 50px;
}

// /* Navbar is at the top of the page, vs nav, which can be anywhere */
.fls__navbar-dropdown {
	display: block;
	opacity: 0;
	position: fixed;
	top: 200px;
	left: 20px;
	z-index: 100;
	border: 0;
	padding: 0.625rem 0;
	margin: 0;
	border-radius: 0 !important;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-top: #fec910 solid 3px;
	max-width: 254px;

	&:before {
		content: '';
		position: absolute !important;
		top: -10px;
		right: auto;
		bottom: auto;
		left: 10px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fec910;
	}
}

// .fls__navbar-dropdown-item {
// 	width: 100%;
// 	padding: 6px 18px;
// 	text-transform: capitalize;
// 	font-size: 0.8125rem;
// 	font-weight: 500;
// 	color: #2c2e30;
// }

// .fls__navbar-dropdown-item:hover {
// 	background-color: #f8f9fa;
// }

.fls--red {
	color: #cc3333;
}

// .fls--opaque {
// 	opacity: 1;
// }

// .fls--transparent {
// 	opacity: 0;
// }

/* Carousel styles */
.slick-prev,
.slick-next {
	position: absolute;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 35px;
	height: 48px;
	margin-top: -10px\9;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: #000;
	border: none;
	outline: 0;
	background: 0 0;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
	background-color: #fec910;
}

.slick-next {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0;
}

.slick-prev:before,
.slick-next:before {
	color: white;
	content: '<';
	font-size: 24px;
	font-weight: 500;
	position: relative;
	top: 3px;
}

.slick-next:before {
	content: '>';
}

// /* Hero Styles & Overrides */

.subtitle:before,
.subtitle:after {
	display: inline-block;
	content: '';
	border-top: 1px solid white;
	width: 2rem;
	margin: 0 1rem;
	transform: translateY(-0.5rem);
}

@media only screen and (max-device-width: 768px) {
	.subtitle:before,
	.subtitle:after {
		display: inline-block;
		content: '';
		border-top: 1px solid white;
		width: 1.25rem;
		margin: 0 0.5rem;
		transform: translateY(-0.4rem);
	}
}

.subtitle--red {
	color: #bb2125 !important;
}

.subtitle--red:after,
.subtitle--red:before {
	border-top: 1px solid #bb2125 !important;
}

// /* Who We Are */
// /* .who-we-are__copy-container {
// 	padding: 50px 85px;
// 	font-size: 14px;
//     font-weight: 300;
//     line-height: 22px;
//     color: #8c8c8c;
// } */

// .who-we-are__copy-container p:nth-child(2) {
// 	margin-bottom: 20px;
// }

// .who-we-are__video {
// 	background-image: url('../img/video-sample.jpeg');
// 	background-size: cover;
// 	height: 100%;
// 	background-position: center;
// 	/* padding-bottom: 75%; */
// }

// .fls__button--who-we-are {
// 	margin-top: 28px;
// 	max-width: 140px;
// 	max-height: 34px;
// 	font-size: 12px;
// 	font-weight: 600;
// 	line-height: 22px;
// }

// @media only screen and (max-device-width: 768px) {
// 	.who-we-are__copy-container {
// 		padding: 3rem 1.5rem !important;
// 	}

// 	.who-we-are__video {
// 		padding-bottom: 56.25%;
// 	}
// }

.title--white {
	color: white !important;
}

// /* TODO: This is fucky as all get out. The post page stylings need genericization */
// .programs__post-copy-container--locations {
// 	padding: 0 !important;
// }

// /* Programs landing styles */
// /* TODO: Most likely needs to be in its own file */
.hero--page {
	background: linear-gradient(
		45deg,
		rgba(0, 51, 51, 1) 22%,
		rgba(153, 153, 153, 1) 100%
	);
	position: relative;
	min-height: 40vh;

	&:after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.15;
		content: '';
		background-size: cover;
		background-image: url('../img/sample-bg.jpeg');
	}
}

// TODO: Needs a better home
.hero-body--page {
	padding-top: 5rem;
	padding-bottom: 5rem !important;
}

// .fls__content-header-copy {
// 	color: black;
// 	font-size: 20px;
// }

.fls-post__title,
.programs__post-title {
	font-size: 29px;
	text-transform: uppercase;
	font-weight: 400;
}

/* Programs post styles */

/* TODO: More classes in need of genericization */
.programs__post-carousel {
	display: flex !important;
	justify-content: center;
	width: 100%;
	background-color: #f5f5f5;
}

.fls-post__hero,
.fls-post__subhero,
.fls-post__copy-container--alt,
.fls__location-post-carousel,
.fls-post__table-header {
	background-color: #f5f5f5;

	.slick-list {
		margin: 0 auto;
	}
}

.fls-post__table-header,
.fls-post__table-row {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.fls-post__table-header {
	font-weight: 500;
	margin-bottom: 12px;
}

.fls-post__hero {
	display: flex;
	justify-content: center;
}

.fls-post__copy-container {
	font-size: 14px;
}

.fls-post__subhero {
	display: flex !important;
	align-items: center;
	justify-content: center;
	padding: 1.5rem !important;
}

.fls-post__subhero-item {
	font-size: 13px;

	&:nth-child(2) {
		margin: 0 8px;
	}
}

.fls-post__copy-container--alt {
	padding: 1.5rem !important;
}

.fls-post__paragraph {
	margin-bottom: 16px;
}

.fls-post__subhero-icon {
	margin-right: 6px;
}

.fls-post__copy-container-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

/* TODO: These need finessing, carousel images might be cut off as is */
.programs__post-carousel .slick-list,
.fls__location-post-carousel .slick-list {
	max-width: 560px;
	max-height: 400px;
}

.programs__image-container img {
	height: 100%;
}

.programs__post-copy-container {
	padding: 1.5rem;
}

.programs__post-copy-container p {
	margin-bottom: 1rem;
}

.programs__post-copy-container--alt {
	background-color: #f5f5f5;
}

/* TODO: Handle these duplicates */
.fls-post__subtitle {
	color: #022847;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
}

.fls-post__subtitle:after {
	display: block;
	width: 30px;
	height: 2px;
	margin: 12px 0;
	border-top: 1px solid #ddd;
	content: '';
}

// /* About us page */
// .fls__generic-copy {
// 	font-size: 1.0175rem;
// 	color: #616161;
// 	margin-bottom: 18px;
// 	line-height: 28px;
// }
