/* Global */
body {
	font-family: 'Montserrat', sans-serif !important;
}

.container {
	max-width: 1170px !important;
}

.title--fls {
	font-size: 2.425rem !important;
	font-weight: 300 !important;
	text-transform: uppercase !important;

	@media only screen and (max-device-width: 768px) {
		font-size: 2rem !important;
		font-weight: 300 !important;
		text-transform: uppercase !important;
	}
}

.title--underline {
	&:after {
		display: block;
		height: 2px;
		content: '';
		width: 42px;
		margin: 30px auto 0;
		border-top: 1px solid #fff;
	}
}

.subtitle--fls {
	font-size: 1.125rem !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
}

.section {
	padding-top: 5rem !important;
	padding-bottom: 5rem !important;
}

/* Generic FLS Styles */

.fls__list-item {
	position: relative;
	list-style: none;
	padding-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.fls__list-item {
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 4.5px;
		border-radius: 100%;
		background-color: #dbab04;
		height: 10px;
		width: 10px;
	}
}

.fls__list-item--small {
	font-size: 14px;
}

.footer {
	position: relative !important;
	color: white !important;
	background-color: #012846 !important;
	padding-bottom: 3rem !important;
}

// .fls__blue-gradient-bg {
// 	background: linear-gradient(
// 		to bottom,
// 		rgba(3, 95, 158, 1) 0%,
// 		rgba(0, 51, 102, 1) 100%
// 	);
// }

// .icon-envelop--contact-us,
// .icon-location--contact-us {
// 	font-size: 32px;
// }

// .icon-phone--contact-us {
// 	font-size: 32px;
// }

// .fls__iframe-wrapper {
// 	position: relative;
// 	padding-bottom: 56.25%; /* 16:9 */
// 	height: 0;
// }

// .fls__iframe-wrapper iframe {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

// .fls__iframe-wrapper--contact-us {
// 	padding-bottom: 86.25%;
// }

.fls__link {
	line-height: 1.25 !important;
	transition: color 0.3s !important;
	color: white !important;
}

.fls__link:hover {
	color: #bb2125 !important;
}

.fls__link--alt:hover {
	color: #dbab04 !important;
}

.fls__link--dark {
	color: #2c2e30 !important;
}

// /* TODO: Combine this with the button class for the hero section */
.fls__button {
	display: block !important;
	width: 100% !important;
	cursor: pointer !important;
	background-color: #000 !important;
	text-align: center !important;
	color: white !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	height: 50px !important;
	line-height: 40px !important;
	border-radius: 0 !important;
	border: 1px solid transparent !important;
	padding: 0.375rem 0.75rem !important;
	font-weight: 500 !important;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.fls__button--red {
	color: #fff !important;
	background-color: #bb2125 !important;
	border-color: #bb2125 !important;
	height: 50px !important;
	line-height: 40px !important;
	border-radius: 0 !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
}

// .fls__button--blue {
// 	color: #fff;
// 	background-color: #012846;
// 	border-color: #012846;
// }

.fls__button:hover {
	background-color: #fec910 !important;
	border-color: #fec910 !important;
	color: black !important;
}

// .fls__button--login {
// 	background-color: #0069d9;
// 	border-color: #0069d9;
// }

.fls__button--card {
	max-width: 60%;
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease 0s !important;
}

.fls__button--locations-card {
	max-width: 40%;
}

// .fls__media-container {
// 	padding: 10px;
// 	border: 1px solid #e6e6e6;
// 	height: 330px;
// 	text-align: center;
// 	cursor: pointer;
// }

// .fls__download {
// 	background-image: url('../img/sample-brochure.png');
// 	background-size: cover;
// 	height: 100%;
// }

.fls__text-input {
	line-height: 1.5 !important;
	color: #495057 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 1px solid #ced4da !important;
	border-radius: 0 !important;
	font-size: 0.875rem !important;
	height: 50px !important;
	padding: 0.75rem 1.25rem;
	border-color: rgba(84, 82, 82, 0.34) !important;
	transition: border-color 0.3s, box-shadow 0.3s !important;
}

.fls__text-input:focus {
	border-color: #bb2125 !important;
	box-shadow: 0 0 0 0.2rem rgba(187, 33, 37, 0.35) !important;
}

.fls__text-input--highlighted-section {
	font-size: 0.875rem;
	border-color: rgba(255, 255, 255, 0.75);
	background-color: rgba(255, 255, 255, 0.4);
}

.fls__text-input--highlighted-section::placeholder {
	color: white;
}

// .fls__form-copy {
// 	font-size: 14px;
// 	color: rgba(0, 0, 0, 0.68);
// }

// .fls__checkbox-container {
// 	display: flex;
// 	align-items: center;
// }

// .fls__checkbox-container input[type='checkbox'] {
// 	margin-right: 6px;
// }

// /* TODO: Might be too niche a utility class */
// .fls__forgot-password {
// 	display: flex;
// 	align-items: center;
// 	justify-content: flex-end;
// }

// @media only screen and (max-device-width: 768px) {
// 	.fls__forgot-password {
// 		justify-content: flex-start;
// 	}
// }

// .fls__pill {
// 	display: inline-block;
// 	padding: 5px 15px;
// 	font-size: 12px;
// 	font-weight: 500;
// 	border-radius: 3px;
// 	color: #fff;
// 	-webkit-transition: all 0.3s ease;
// 	-moz-transition: all 0.3s ease;
// 	transition: all 0.3s ease 0s;
// 	margin-bottom: 20px;
// }

// .fls__pill--in-person {
// 	background-color: #bb2125;
// }

// .fls__pill--online {
// 	background-color: #0069d9;
// }

// /* TODO: Figure out the icon */
// .fls__card-header {
// 	color: #626262;
// 	font-size: 14px;
// 	margin-bottom: 10px;
// }

// .fls__card-header:before {
// 	content: '';
// }

// .fls__post-title {
// 	color: #363636;
// 	font-weight: 500;
// 	text-transform: uppercase;
// 	font-size: 20px;
// }

// .fls__post-title:after {
// 	display: block;
// 	width: 30px;
// 	height: 2px;
// 	margin: 12px 0;
// 	border-top: 1px solid #ddd;
// 	content: '';
// }

// .fls__post-copy {
// 	font-size: 15px;
// 	margin-bottom: 1rem;
// }

// .fls__post-container {
// 	padding-right: 50px;
// }

// .fls__post-container--left {
// 	padding-left: 50px;
// }

// .fls__card {
// 	position: relative;
// 	padding: 30px;
// 	border: 1px solid #ddd;
// 	height: 228px;
// 	width: 100%;
// 	cursor: pointer;
// 	overflow: hidden;
// }

// .fls__card-contents {
// 	position: relative;
// 	z-index: 3;
// }

// .fls__card-subtitle {
// 	color: #626262;
// 	font-size: 14px;
// 	font-weight: 500;
// 	margin-bottom: 12px;
// }

// .fls__card-title,
// .fls__card-copy,
// .fls__card-details,
// .fls__card-subtitle,
// .fls__card-header {
// 	transition: all 0.3s ease 0s;
// }

// .fls__card:hover .fls__card-title,
// .fls__card:hover .fls__card-copy,
// .fls__card:hover .fls__card-details,
// .fls__card:hover .fls__card-subtitle,
// .fls__card:hover .fls__card-header {
// 	color: white;
// }

// .fls__card-bg,
// .fls__card-bg-overlay,
// .fls__card-footer-overlay {
// 	display: block;
// 	position: absolute;
// 	width: 100%;
// 	transition: 0.3s ease 0s;
// 	left: 0;
// }

// .fls__card-bg,
// .fls__card-bg-overlay {
// 	top: 0;
// }

// .fls__card-bg {
// 	height: 100%;
// 	background-image: url('../img/elp-card-bg.jpeg');
// 	opacity: 0.1;
// 	z-index: 0;
// 	background-size: cover;
// 	background-position: center;
// }

// .fls__card-bg--speciality-tours {
// 	background-image: url('../img/specialty-tours-bg.png');
// }

// .fls__card-bg-overlay {
// 	opacity: 0;
// 	background: rgba(0, 0, 0, 0.6);
// 	color: #fff;
// 	display: block;
// 	height: 100%;
// 	z-index: 1;
// }

// .fls__card-footer-overlay {
// 	bottom: -45px;
// 	opacity: 0;
// 	z-index: 2;
// 	background-color: #bb2125;
// 	height: 45px;
// }

// .fls__card:hover .fls__card-bg,
// .fls__card:hover .fls__card-bg-overlay,
// .fls__card:hover .fls__card-footer-overlay {
// 	opacity: 1;
// }

// .fls__card:hover .fls__card-footer-overlay {
// 	bottom: 0;
// }

// .fls__card-details {
// 	color: #626262;
// 	font-size: 14px;
// }

// .fls__card-details span:first-child {
// 	margin-right: 6px;
// }

// .fls__card-details--speciality-tours {
// 	margin-top: 27px;
// }

// .fls__card-title {
// 	font-weight: 600;
// 	font-size: 20px;
// }

// .fls__card-copy {
// 	color: #626262;
// 	font-size: 14px;
// 	display: -webkit-box;
// 	-webkit-line-clamp: 2;
// 	-webkit-box-orient: vertical;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	margin-bottom: 16px;
// }

// /* Navbar is at the top of the page, vs nav, which can be anywhere */
.fls__navbar-dropdown {
	display: block;
	opacity: 0;
	position: fixed;
	top: 200px;
	left: 20px;
	z-index: 100;
	border: 0;
	padding: 0.625rem 0;
	margin: 0;
	border-radius: 0 !important;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	border-top: #fec910 solid 3px;
	max-width: 254px;

	&:before {
		content: '';
		position: absolute !important;
		top: -10px;
		right: auto;
		bottom: auto;
		left: 10px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fec910;
	}
}

// .fls__navbar-dropdown-item {
// 	width: 100%;
// 	padding: 6px 18px;
// 	text-transform: capitalize;
// 	font-size: 0.8125rem;
// 	font-weight: 500;
// 	color: #2c2e30;
// }

// .fls__navbar-dropdown-item:hover {
// 	background-color: #f8f9fa;
// }

// .fls__nav {
// 	margin-bottom: 15px !important;
// }

// /* This class should be a modifier of the nav item from the programs post page */
// .fls__nav-item {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	border-bottom: #f5f5f5 solid 3px;
// 	padding: 0.5rem 1rem;
// 	background-color: #f5f5f5;
// 	font-size: 15px;
// 	font-weight: 500;
// 	transition: color 0.3s, border-color 0.3s, background-color 0.3s;
// 	text-align: center;
// 	text-transform: uppercase;
// 	cursor: pointer;
// }

// .fls__nav-item:hover {
// 	color: #bb2125;
// 	border-color: #bb2125;
// }

// .fls__nav-item--downloads {
// 	font-size: 12px;
// }

// .fls__nav-item--downloads:hover {
// 	color: white;
// 	background-color: #bb2125;
// }

// .fls__post-navbar-item {
// 	display: block;
// 	width: 100%;
// 	border-left: #f5f5f5 solid 3px;
// 	padding: 0.5rem 1rem;
// 	background-color: #f5f5f5;
// 	margin-bottom: 1px;
// 	min-height: 36px;
// 	font-size: 13px;
// 	transition: color 0.3s, border-color 0.3s;
// }

// .fls__post-navbar-item:hover {
// 	color: #bb2125;
// 	border-color: #bb2125;
// }

// a.fls__post-navbar-item {
// 	color: black;
// }

// .fls__testimonial {
// 	position: relative;
// 	padding: 70px 20px 30px 20px;
// 	background-color: #f5f5f5;
// 	margin-top: 75px;
// }

// .fls__testimonial-avatar {
// 	display: block;
// 	position: absolute;
// 	left: 50%;
// 	margin-left: -44px;
// 	top: -45px;
// 	width: 100px;
// 	height: 100px;
// 	border: 4px solid #cc3333;
// 	max-width: 100%;
// 	border-radius: 50%;
// }

// .fls__testimonial-copy {
// 	position: relative;
// 	font-size: 12px;
// }

// .fls__testimonial-copy:before {
// 	font-size: 75px;
// 	position: absolute;
// 	top: -54px;
// 	left: -12px;
// 	color: #cc3333;
// 	content: '\201C';
// }

// .fls__testimonial-subcopy {
// 	margin-top: 15px;
// 	font-size: 14px;
// }

// .fls__testimonial-read-more {
// 	display: block;
// 	font-size: 12px;
// }

// @media only screen and (max-device-width: 1023px) {
// 	.fls__testimonial--programs {
// 		margin-top: 0;
// 		height: 100%;
// 	}

// 	.fls__testimonial-copy {
// 		font-size: 24px;
// 	}

// 	.fls__testimonial-subcopy {
// 		font-size: 18px;
// 	}

// 	.fls__testimonial-read-more {
// 		font-size: 16px;
// 	}
// }

// @media only screen and (max-device-width: 768px) {
// 	.fls__testimonial--programs {
// 		margin-top: 50px;
// 	}
// }

// .fls--red {
// 	color: #cc3333;
// }

// .fls__page-hero-copy-container {
// 	position: relative;
// 	z-index: 1;
// }

// .fls--opaque {
// 	opacity: 1;
// }

// .fls--transparent {
// 	opacity: 0;
// }

/* Carousel styles */
.slick-prev,
.slick-next {
	position: absolute;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	top: 50%;
	width: 35px;
	height: 48px;
	margin-top: -10px\9;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: #000;
	border: none;
	outline: 0;
	background: 0 0;
	background: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
	background-color: #fec910;
}

.slick-next {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 0;
}

.slick-prev:before,
.slick-next:before {
	color: white;
	content: '<';
	font-size: 24px;
	font-weight: 500;
	position: relative;
	top: 3px;
}

.slick-next:before {
	content: '>';
}

// /* Hero Styles & Overrides */

.subtitle:before,
.subtitle:after {
	display: inline-block;
	content: '';
	border-top: 1px solid white;
	width: 2rem;
	margin: 0 1rem;
	transform: translateY(-0.5rem);
}

@media only screen and (max-device-width: 768px) {
	.subtitle:before,
	.subtitle:after {
		display: inline-block;
		content: '';
		border-top: 1px solid white;
		width: 1.25rem;
		margin: 0 0.5rem;
		transform: translateY(-0.4rem);
	}
}

.subtitle--red {
	color: #bb2125 !important;
}

.subtitle--red:after,
.subtitle--red:before {
	border-top: 1px solid #bb2125 !important;
}

// /* Who We Are */
// /* .who-we-are__copy-container {
// 	padding: 50px 85px;
// 	font-size: 14px;
//     font-weight: 300;
//     line-height: 22px;
//     color: #8c8c8c;
// } */

// .who-we-are__copy-container p:nth-child(2) {
// 	margin-bottom: 20px;
// }

// .who-we-are__video {
// 	background-image: url('../img/video-sample.jpeg');
// 	background-size: cover;
// 	height: 100%;
// 	background-position: center;
// 	/* padding-bottom: 75%; */
// }

// .fls__button--who-we-are {
// 	margin-top: 28px;
// 	max-width: 140px;
// 	max-height: 34px;
// 	font-size: 12px;
// 	font-weight: 600;
// 	line-height: 22px;
// }

// @media only screen and (max-device-width: 768px) {
// 	.who-we-are__copy-container {
// 		padding: 3rem 1.5rem !important;
// 	}

// 	.who-we-are__video {
// 		padding-bottom: 56.25%;
// 	}
// }

.title--white {
	color: white !important;
}

/* Locations */
.locations {
	background-color: #f5f5f5;
}

.fls__location {
	display: flex;
	flex-direction: column;
	height: 350px;
	margin: 0 auto;
	cursor: pointer;
}

.fls__location--carousel {
	padding-left: 25px;
	padding-right: 25px;
}

.fls__location--post {
	width: 100%;
}

.fls__location-img-container {
	position: relative;
	background-image: url('../img/citrus-college.jpeg');
	flex-basis: 80%;
	border-bottom: #bb2125 solid 2px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 0.5s ease 0s;
}

.fls__location-img-container:after {
	content: '';
	left: 0;
	bottom: -100%;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	background-color: rgba(2, 40, 71, 0.8);
	transition: all 0.5s ease 0s;
}

.fls__location:hover .fls__location-img-container {
	border-color: #fec910;
}

.fls__location:hover .fls__location-img-container:after {
	opacity: 1;
	bottom: 0;
}

.fls__location:hover .fls__button--card {
	opacity: 1;
}

.fls__location-copy-container {
	padding: 15px;
	background-color: white;
	flex-basis: 50%;
}

.fls__location-copy-container--post {
	background-color: #f5f5f5;
}

.fls__location-title {
	font-size: 1rem;
	font-weight: 600;
	color: #363636;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.fls__location-copy {
	font-size: 0.8125rem;
	color: #8d8c8c;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 500;
}

.fls__location-price-calculator {
	background-color: #f5f5f5;
	padding: 1rem;
}

.fls__location-post-subtitle {
	text-transform: none !important;
	margin-bottom: 0.5rem;
	font-weight: 400;
	line-height: 1.2;
	font-size: 1rem;
}

.fls__location-dark-post {
	background-color: #f5f5f5;
	padding: 1rem;
}

.fls__location-quick-facts {
	padding: 30px;
	border: 1px solid #ddd;
	margin-top: 1rem;
}

.fls__location-quick-fact-container {
	display: flex;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.fls__location-quick-fact-container:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.fls__location-quick-fact-icon {
	height: 50px;
	width: 50px;
}

.fls__location-quick-fact-copy {
	margin-left: 10px;
}

.fls__location-quick-fact-title {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}

.fls__location-quick-fact-item {
	font-size: 11px;
	font-weight: 400;
	margin-bottom: 5px;
}

.fls__location-post-anchor-button {
	display: block;
	height: 46px;
	width: 100%;
	text-align: center;
	font-size: 0.875rem;
	font-weight: 400;
	color: #fff;
	padding: 0.813rem 0;
	background-color: #999999;
	border-radius: 0;
	margin: 0.125rem;
	transition: background-color 0.3s ease-in-out;
}

// /* TODO: This is fucky as all get out. The post page stylings need genericization */
// .programs__post-copy-container--locations {
// 	padding: 0 !important;
// }

.fls__location-post-anchor-button:hover {
	background-color: #cc3333;
	color: white;
}

// /* Programs landing styles */
// /* TODO: Most likely needs to be in its own file */
.hero--page {
	background: linear-gradient(
		45deg,
		rgba(0, 51, 51, 1) 22%,
		rgba(153, 153, 153, 1) 100%
	);
	position: relative;
	min-height: 40vh;

	&:after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.15;
		content: '';
		background-size: cover;
		background-image: url('../img/sample-bg.jpeg');
	}
}

.fls__page-hero-title {
	color: white;
	font-size: 3rem;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;

	@media only screen and (max-device-width: 768px) {
		font-size: 2rem;
	}
}

// .fls__content-header-copy {
// 	color: black;
// 	font-size: 20px;
// }

// .programs__post-title {
// 	font-size: 29px;
// 	text-transform: uppercase;
// 	font-weight: 400;
// }

// /* Programs post styles */

// /* TODO: More classes in need of genericization */
// .programs__post-carousel,
// .fls__location-post-carousel {
// 	display: flex !important;
// 	justify-content: center;
// 	width: 100%;
// 	background-color: #f5f5f5;
// }

// /* TODO: These need finessing, carousel images might be cut off as is */
// .programs__post-carousel .slick-list,
// .fls__location-post-carousel .slick-list {
// 	max-width: 560px;
// 	max-height: 400px;
// }

// .programs__image-container img {
// 	height: 100%;
// }

// .programs__post-copy-container {
// 	padding: 1.5rem;
// }

// .programs__post-copy-container p {
// 	margin-bottom: 1rem;
// }

// .programs__post-copy-container--alt {
// 	background-color: #f5f5f5;
// }

// /* TODO: Handle these duplicates */
// .fls__post-title {
// 	color: #022847;
// 	text-transform: uppercase;
// 	font-weight: 400;
// 	font-size: 20px;
// }

// .fls__post-title:after {
// 	display: block;
// 	width: 30px;
// 	height: 2px;
// 	margin: 12px 0;
// 	border-top: 1px solid #ddd;
// 	content: '';
// }

// /* About us page */
// .fls__generic-copy {
// 	font-size: 1.0175rem;
// 	color: #616161;
// 	margin-bottom: 18px;
// 	line-height: 28px;
// }

// .about-us__affiliate-card-title {
// 	font-size: 1.25rem;
// 	color: #262626;
// 	margin-bottom: 15px;
// 	font-weight: 500;
// }

// .about-us__affiliate-card-copy {
// 	font-size: 0.875rem;
// 	line-height: 24px;
// 	color: #616161;
// }

// @media only screen and (max-device-width: 768px) {
// 	.about-us__affiliate-card-icon {
// 		margin: 0 auto;
// 		display: block;
// 	}
// }

// .about-us__contact-card {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-between;
// 	align-items: center;
// 	width: 100%;
// 	height: 245px;
// 	padding: 1.875rem;
// 	background-color: #fff;
// 	border: #dee2e6 solid 1px;
// 	border-radius: 2px;
// }

// .about-us__contact-card-details {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

// .about-us__contact-card-icon {
// 	width: 75px;
// 	height: 75px;
// 	display: inline-block;
// 	-webkit-border-radius: 100%;
// 	-moz-border-radius: 100%;
// 	border-radius: 100%;
// }

// /* Contact Us */
// .contact-us__email-call-container {
// 	display: flex;
// 	flex-direction: column;
// 	height: 320px;
// }

// .contact-us__email,
// .contact-us__call {
// 	flex-basis: 50%;
// 	padding: 20px 30px;
// 	text-align: center;
// 	color: white;
// }

// .contact-us__call {
// 	background-color: #bb2125;
// }

// .contact-us__email-call-title,
// .contact-us__subtitle {
// 	font-size: 1.5rem;
// }

// .contact-us__address-container {
// 	display: flex;
// 	text-align: center;
// 	flex-direction: column;
// }

// .contact-us__address {
// 	color: black;
// 	margin-bottom: 12px;
// 	transition: color 0.3s;
// }

// .contact-us__address:hover {
// 	color: #bb2125;
// }

// .contact-us__title {
// 	font-size: 28px;
// 	text-transform: uppercase;
// 	font-weight: 300;
// 	margin-bottom: 12px;
// }

// .contact-us__copy {
// 	font-size: 14px;
// 	color: #8c8c8c;
// 	margin-bottom: 12px;
// }
