.fls__announcement-banner {
	color: black;
	position: fixed;
	cursor: pointer;
	z-index: 98;
	bottom: 0;
	width: 100%;
	min-height: 60px;
	background-color: #fec910;
	transition: all 0.3s ease 0s;
	text-align: center;
	padding: 28px;
}

.fls__announcement-banner:hover {
	background-color: #0069d9;
	color: white;
}

.fls__announcement-banner-close {
	/* TODO: Needs an icon */
	position: absolute;
	right: 18px;
	top: 2px;
	font-weight: 500;
	font-size: 22px;
}

.fls__announcement-banner-copy {
	font-size: 20px;
	font-weight: 500;

	@media only screen and (max-device-width: 768px) {
		font-size: 16px;
	}
}

.container--announcement-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
