$fls-red: #e63946;
$fls-light-blue: #a8dadc;
$fls-dark-blue: #457b9d;
$fls-grey: #f1faee;

.fls__card {
	display: block;
	position: relative;
	padding: 30px;
	border: 1px solid #ddd;
	height: 228px;
	width: 100%;
	cursor: pointer;
	overflow: hidden;
	color: black;

	&:hover {
		.fls__card-title,
		.fls__card-copy,
		.fls__card-details,
		.fls__card-subtitle,
		.fls__card-header,
		.fls-card__user-icon {
			color: white !important;
		}
	}
}

.fls__card-contents {
	position: relative;
	z-index: 3;
}

.fls__card-subtitle {
	color: #626262;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 12px;
}

/* TODO: Figure out the icon */
.fls__card-header {
	color: #626262;
	font-size: 14px;
	margin-bottom: 10px;
}

.fls__card-header:before {
	content: '';
}

.fls__card-details {
	color: #626262;
	font-size: 14px;
}

.fls__card-details {
	& span {
		&:first-child {
			margin-right: 6px;
		}
	}
}

.fls__card-details--speciality-tours {
	margin-top: 27px;
}

.fls__card-title,
.fls__card-copy,
.fls__card-details,
.fls__card-subtitle,
.fls__card-header {
	transition: all 0.3s ease 0s;
}

.fls__card-bg,
.fls__card-bg-overlay,
.fls__card-footer-overlay {
	display: block;
	position: absolute;
	width: 100%;
	transition: 0.3s ease 0s;
	left: 0;
}

.fls__card-bg,
.fls__card-bg-overlay {
	top: 0;
}

.fls__card-bg {
	width: 100%;
	opacity: 0.1;
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.fls__card-bg-overlay {
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: block;
	height: 100%;
	z-index: 1;
}

.fls__card-footer-overlay {
	bottom: -45px;
	opacity: 0;
	z-index: 2;
	background-color: $fls-dark-blue;
	height: 45px;
}

.fls__card:hover .fls__card-bg,
.fls__card:hover .fls__card-bg-overlay,
.fls__card:hover .fls__card-footer-overlay {
	opacity: 1;
}

.fls__card:hover .fls__card-footer-overlay {
	bottom: 0;
}

.fls__card-title {
	font-weight: 600;
	font-size: 20px;
}

.fls__card-copy {
	color: #626262;
	font-size: 14px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 16px;
}

.fls-card__user-icon {
	color: $fls-dark-blue !important;
	font-size: 20px !important;
	margin-right: 10px;
}

// TODO: Think about renaming theses classes
.about-us__affiliate-card-title {
	font-size: 1.25rem;
	color: #262626;
	margin-bottom: 15px;
	font-weight: 500;
}

.about-us__affiliate-card-copy {
	font-size: 0.875rem;
	line-height: 24px;
	color: #616161;
}

.about-us__affiliate-card-icon {
	@media only screen and (max-device-width: 768px) {
		margin: 0 auto;
		display: block;
	}
}

.about-us__contact-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 245px;
	padding: 1.875rem;
	background-color: #fff;
	border: #dee2e6 solid 1px;
	border-radius: 2px;
}

.about-us__contact-card-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us__contact-card-icon {
	width: 75px;
	height: 75px;
	display: inline-block;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
