// TODO: Should go in a 'variables' file
$fls-grey: #f1faee;
$fls-dark-blue: #457b9d;
$fls-light-blue: #a8dadc;

// TODO: Currently a very small weird white border on the bottom of the nav
.navbar__head-copy {
	color: white;
	font-size: 24px;
}

.navbar__logo {
	max-height: 5rem !important;
}

.navbar--fls {
	background-color: rgba(230, 57, 70, 0.5) !important;
	transition: background-color 0.3s;

	ul {
		border-bottom: none !important;
	}

	li {
		height: 100%;
		display: flex !important;
	}
}

.tabs--fls {
	margin-bottom: 0 !important;
	overflow: visible !important;

	a {
		color: $fls-light-blue !important;
		border-bottom: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		transition: all 0.3s ease 0s;
	}

	a:hover {
		color: black !important;
		background-color: $fls-light-blue !important;
	}
}

.navbar--scrolled {
	background-color: $fls-dark-blue !important;
}

.tabs--home {
	a {
		color: white !important;
	}
}

.tabs--scrolled {
	a {
		color: $fls-light-blue !important;
	}
}

.fls-nav__dropdown-container {
	position: relative;
}

.fls-nav__dropdown {
	position: absolute;
	width: 100%;
	background-color: $fls-dark-blue;
	// TODO: Not a very robust solution for positioning the dropdown
	bottom: -113px;
	text-align: center;
}

.fls-nav__dropdown-item {
	display: block;
	padding: 10px;
	font-size: 12px;
	width: 100%;
	color: $fls-light-blue !important;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		background-color: $fls-light-blue;
		color: white !important;
	}
}
