// TODO: Should go in a 'variables' file
$fls-grey: #f1faee;
$fls-dark-blue: #457b9d;
$fls-light-blue: #a8dadc;

.navbar__head-copy {
	color: white;
	font-size: 24px;
}

.navbar__logo {
	max-height: 5rem !important;
}

.navbar--fls {
	background-color: rgba(230, 57, 70, 0.5) !important;
	transition: background-color 0.3s;

	ul {
		border-bottom: none !important;
	}

	li {
		height: 100%;
		display: flex !important;
	}
}

.tabs--fls {
	margin-bottom: 0 !important;

	a {
		color: $fls-light-blue !important;
		border-bottom: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		transition: all 0.3s ease 0s;
	}

	a:hover {
		color: black !important;
	}

	& li {
		transition: all 0.3s ease 0s;

		&:hover {
			background-color: $fls-light-blue !important;
		}
	}
}

.navbar--scrolled {
	background-color: $fls-dark-blue !important;
}

.tabs--home {
	a {
		color: white !important;
	}
}

.tabs--scrolled {
	a {
		color: $fls-light-blue !important;
	}
}
