// TODO: Should go in a 'variables' file
$fls-grey: #f1faee;
$fls-dark-blue: #457b9d;
$fls-light-blue: #a8dadc;

.navbar__logo {
	max-height: 5rem !important;
}

.navbar--fls {
	background-color: $fls-dark-blue !important;
	transition: all 0.3s ease 0s;

	.navbar__item-container {
		height: 100%;
		display: flex !important;
	}

	.navbar__nav-item {
		display: flex;
		align-items: center;
		height: 100%;
		text-transform: uppercase;
		font-weight: 500;
		color: $fls-light-blue;
		padding: 10px;

		&:hover {
			background-color: $fls-light-blue;
			color: black !important;
		}

		a {
			height: 100% !important;
			border-bottom: $fls-dark-blue;

			&:hover {
				color: black !important;
			}
		}
	}
}

.navbar-brand--fls {
	justify-content: space-between;
}

.fls-nav__mobile {
	height: 100vh;
	width: 100%;
	z-index: 1000;
	background-color: darken($fls-dark-blue, 10%);
	position: fixed;
	color: white;
}

.fls-nav__content {
	align-items: stretch;
	display: flex;
	font-size: 1rem;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	width: 100%;
	justify-content: space-evenly;

	@media only screen and (max-width: 1215px) {
		justify-content: flex-start;
	}
}

.fls-nav__dropdown {
	position: fixed;
	width: 100%;
	background-color: $fls-dark-blue;
	text-align: center;
	max-width: 200px;
}

.fls-nav__dropdown-item {
	display: block;
	padding: 8px;
	width: 100%;
	color: $fls-light-blue !important;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	font-size: 12px;

	&:hover {
		background-color: $fls-light-blue;
		color: black;
	}
}

.hamburger--fls {
	display: none !important;

	@media only screen and (max-width: 1024px) {
		display: block !important;
	}
}

.hamburger-inner--fls {
	background-color: white !important;

	&:before,
	&:after {
		background-color: white !important;
	}
}

.fls-nav__mobile-header {
	display: block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
}

.fls-nav__mobile-item-header {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
}

.fls-nav__mobile-item {
	font-size: 14px;
	font-weight: 500;
}

.fls-nav__mobile-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;

	span {
		margin-left: 10px;
		font-size: 12px;
		cursor: pointer;
	}
}

.fls-nav__expand {
	transition: all 0.3s ease 0s;
	margin-left: 8px;
	cursor: pointer;
}

.fls-nav__expand--expanded {
	transform: rotate(90deg);
}

.fls-nav__collapsible-container {
	max-height: 100vh;
	transition: max-height 0.3s linear;
}
